---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us - Paducah Porch Goose" description="Learn about Paducah Porch Goose and our story">
  <div class="min-h-screen bg-gradient-to-br from-gray-50 to-gray-100 dark:from-gray-900 dark:to-gray-800 px-4 py-12">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-gray-800 dark:text-white mb-12 sm:mb-16 text-center tracking-tight underline underline-offset-16">
        Paducah Porch Goose Story
      </h1>

      <div class="prose prose-lg sm:prose-xl max-w-none">
        <p class="text-lg sm:text-xl md:text-2xl text-gray-700 dark:text-gray-300 leading-relaxed mb-6">
          Nestled in the Lower Town Neighborhood of Paducah is a small "Goose Palace" where
          one can celebrate all things Porch Goose. We will have painted and unpainted 28", 25"
          and 14" concrete geese and 3D printed plastic desk geese when available.
        </p>

        <p class="text-lg sm:text-xl md:text-2xl text-gray-700 dark:text-gray-300 leading-relaxed mb-6">
          As all porch goose fans know, a good goose is hard to find so this is more of a Pop Up
          shop than full time store since we will need to wait for geese to be poured and available
          for delivery. We will be open on select weekends that will be posted on both the website
          and Facebook Page while the geese are in stock. If we do not sell out during a weekend
          event, we will then be available by appointment only the following week, Monday -
          Friday. Once you find your perfect goose, we will have an adoption card for you to sign
          to make it official that you have a new family member. We are also hoping to carry
          goose accessories such as clothing and props in the future but also showcase other
          goose themed items available in other local Paducah businesses.
        </p>

        <p class="text-lg sm:text-xl md:text-2xl text-gray-700 dark:text-gray-300 leading-relaxed mb-6">
          While you might come to Paducah for a goose, we hope you stay and enjoy the city as
          well. You may even find that a lot of the local businesses around here have become
          Porch Goose fans as well!
        </p>

        <p class="text-lg sm:text-xl md:text-2xl text-gray-700 dark:text-gray-300 leading-relaxed mb-6">
          * This is an in person shop so we will unfortunately not be offering shipping for geese
          and at this time I will not be offering any holds or pay ahead options.
        </p>
      </div>
    </div>
  </div>
</Layout>